.App {
    width: 100%;
    max-width: 1000px;
    margin: 40px auto;
    text-align: center;
}

* + .link-preview-container {
    margin-top: 40px;
}
.link-preview-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.preview-link-box {
    width: 100%;
    max-width: 250px;
    padding: 8px;
    margin: 8px;
    border: 1px solid rgba(0,0,0,0.2);
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

* + .text-box-textarea {
    margin-top: 10px;
}
.text-box-textarea {
    max-width: 400px;
}
